
footer{
    width: 100%;
    height: 100%;
    /* box-shadow: rgb(146 147 147) 0px -13px 71px -22px; */
    padding: 2rem 0 1em 0;
    margin: auto;
    /* border-radius: 20px 20px 0 0; */
    background-color: #cccfd1;

}

.footer-content{
    text-align: center;
    justify-content: center;
    max-width: 1340px;
    margin: auto;
    /* background-image: linear-gradient(#b3f2df58, #cf8bf344); */
    color: var(--black3);
    
}

.footer-content h2{
    font-size: 2.3em;
    letter-spacing: 2px;
    line-height: 2em;
}

.footer-content p{
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 3em;
    margin: 0em 0 2em;
    font-size: 14px;
}

.footer-content ul, .icon-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-content ul li{
    list-style: none;
    margin: 0 1em 1.4em 0;
    font-style: var(--font-primary);

}

.footer-content ul li a{
    font-size: 12px;
    color: var(--black3);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .4s;


}

.icon-footer a{
    font-size: 22px;
    color: var(--black3);
    margin: 5px 11px 1.8em;
    transition: all .4s;


}

.icon-footer a:hover{
    color: #706c6c;
}

.footer-content ul li a:hover{
    color:#706c6c
}

.footer-content img{
    width: 4em;
}





.footer-content .copyright{
    font-size: 12px;
    font-family: var(--font-secondery);
    font-weight: 200;
    letter-spacing: 2px;
    margin: 2em 0 0 0;
}

.footer-content .copyright a{
    text-decoration: none;
    color: var(--black3);
    

}