/* start navbar */
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
.logo{
    font-size: 2rem;
    width: 20%;
    color: var(--black3);
    font-weight: bold;
    font-family: var(--font-primary);

}
.logo span{
    color: var(--orange);
}

.nav-container {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 15px;
  }
  /* navbar regular css start */
  .navbar-area {
    background: var(--color-body);
    box-shadow: 0px 0px 10px 2px #d4d4d4;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    z-index: 90;
    
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    /* text-transform: uppercase; */
    color: var(--grey);
    font-weight: bold;
    text-decoration: none;
    outline: none;
  }
  .site-navbar ul {
    margin: .9rem 0;
    padding: 0;
    list-style: none;
    display: flex;

  }
  .site-navbar ul li a {
    color: var(--grey);
    padding: 20px;
    display: block;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--font-secondery);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
  }
  
 .active, .site-navbar ul li a:hover{
   color: var(--black);
 }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid var(--color-body);
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    margin: 0 2.3rem;
    display: none;
    color: black;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: black;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }
  /* intro-area css end */
  
  
  /* mobile breakpoint start */
  @media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      /* border-top: 1px solid #444; */
      /* background-color: rgba(0,0,0,.75); */
      background-image:linear-gradient(#cf8bf3,#b3f2df);
      opacity: 100%;
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
      color: var(--black);
    }
    
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }  
    /* navbar css for mobile end */
  }